[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.10"
pillow = "*"
jupyter = "*"
requests = "*"
bs4 = "*"
django-extensions = "*"
pandas = "*"
djangorestframework = "*"
ipython = "*"
django-imagekit = "*"

[requires]
python_version = "3.6"
