{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            
        </div>
        <div class="col-sm-4">
           
        </div>
        <div class="col-sm-4">
           
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-img-top" id="django"><img src="{% static 'img/django1.jpg' %}" /></div>
            <div class="card-body">
                <h5 class="card-title">Panel title</h5>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the
                    panel's content.</p><button class="gradient"></button>
                <a class="card-link">Card link</a>
                <a class="card-link"></a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img-top"><img src="{% static 'img/python2.jpg' %}" alt=""></div>
            <div class="card-body">
                <h5 class="card-title">Panel title</h5>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the
                    panel's content.</p>
                <a class="card-link">Card link</a>
                <a class="card-link">Another link</a>
                <button class="gradient"></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-img-top"><img src="{% static 'img/webtrinity.jpg' %}" alt=""></div>
            <div class="card-body">
                <h5 class="card-title">Panel title</h5>
                <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the
                    panel's content.<button class="gradient"></button></p>
                <a class="card-link">Card link</a>
                <a class="card-link">Another link</a>
            </div>
        </div>
    </div>
</div>
<button class="gradient" id="rainbowButton"></button>
<div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
</div>


{% endblock content %}

{% block js %}
<script>
const rainbowColors = [
  'hsl(1deg, 100%, 55%)', // red
  'hsl(25deg, 100%, 50%)', // orange
  'hsl(40deg, 100%, 50%)', // yellow
  'hsl(130deg, 100%, 40%)', // green
  'hsl(230deg, 100%, 45%)', // blue
  'hsl(240deg, 100%, 45%)', // indigo
  'hsl(260deg, 100%, 55%)', // violet
];
const paletteSize = rainbowColors.length;

// Number of milliseconds for each update
const intervalDelay = 1000;

const colorNames = [
  '--magic-rainbow-color-0',
  '--magic-rainbow-color-1',
  '--magic-rainbow-color-2',
];

// Register properties
colorNames.forEach((name, index) => {
  CSS.registerProperty({
    name,
    syntax: '<color>',
    inherits: false,
    initialValue: rainbowColors[index],
  });
});

const buttomElem = document.querySelector('#rainbow-button');

let cycleIndex = 0;

window.setInterval(() => {
  // Shift every color up by one position.
  //
  // `% paletteSize` is a handy trick to ensure
  // that values "wrap around"; if we've exceeded
  // the number of items in the array, it loops
  // back to 0.
  const nextColors = [
    rainbowColors[(cycleIndex + 1) % paletteSize],
    rainbowColors[(cycleIndex + 2) % paletteSize],
    rainbowColors[(cycleIndex + 3) % paletteSize],
  ];

  // Apply these new colors, update the DOM.
  colorNames.forEach((name, index) => {
    buttonElem.style.setProperty(name, nextColors[index]);
  });

  // increment the cycle count, so that we advance
  // the colors in the next loop.
  cycleIndex++;
}, intervalDelay);
</script>
{% endblock js %}
